# Variable DataTypes

a = 14
c = 24
add = a+c
print(add)
print('---------------------------')
x = 'Zeeshan'
y = 23
z = 2.34
print('type of x',type(x))
print('type of y',type(y))
print('type of z',type(z))

# User Input

In [9]:
var = input('Enter Number')
print('type of Input Value is',type(var))

Enter Numbershan
type of Input Value is <class 'str'>

# Type Conversion

In [10]:
x= '1'
x =int(x)
print(x)
print(type(x))

1
<class 'int'>

In [11]:
x ='xyz'
x = int(x)
print(x)
print(type(x))

ValueError: invalid literal for int() with base 10: 'xyz'

In [15]:
a = 23
a = str(a)
print(a)
print(a)
print(type(a))

23
23
<class 'str'>

In [17]:
b = 23.34
my_string =str(b)
print(my_string)
print(type(my_string))

23.34
<class 'str'>

In [20]:
var =input("Enter Value")
print('type of Var',type(var))

Enter Value12.3
type of Var <class 'str'>

In [23]:
user_input = input("Enter a number: ")
try:
    user_input_as_integer = int(user_input)
    print("You entered an integer:", user_input_as_integer)
except ValueError:
    print("You did not enter a valid integer.")

Enter a number: 12.3
You did not enter a valid integer.

# Operators

In [24]:
"""
1. arithematic operators
2. logical operators
3. conditional operators
4. relational operators
5. membership operators
6. identity operators

"""

'\n1-> arithematic Operator\n1-> arithematic Operator\n1-> arithematic Operator\n\n\n'

In [25]:
# 1-> arithematic Operator
a = 15
b = 30
add = a+b
mul = a*b
sub = a-b
div = a/b
int_div =a//b
print('addition is ',add)
print('miltiplication is ',mul)
print('subtraction is ',sub)
print('division is ',div)
print('integer devision is ',int_div)

addition is  45
miltiplication is  450
subtraction is  -15
division is  0.5
integer devision is  0

In [32]:
a = int(input('Enter first Number '))
b = int(input('Enter second number '))
adding = a+b
multiply = a*b
subtract = a-b
divided = a/b
int_divided =a//b

print('addition is ', adding)
print('multiplication is ', multiply)
print('subtraction is ', subtract)
print('division is ',div)
print('integer devision is ', int_divided)

Enter first Number 34
Enter second number 23
addition is  57
multiplication is  782
subtraction is  11
division is  0.5
integer devision is  1

In [38]:
# 2-> logical operator
x = int(input('Enter number for x '))
y = int(input('Enter number of y '))
print(x & y)

Enter number for x 1
Enter number of y 1
1

In [41]:
# 2-> logical operator
x = int(input('Enter number for x '))
y = int(input('Enter number of y '))
print(x or y)

Enter number for x 0
Enter number of y 0
0

In [49]:
# 2-> logical operator
x = int(input('Enter number for x '))
y = int(input('Enter number of y '))
print(x ,not y)

Enter number for x 0
Enter number of y 0
0 True

# Conditional Statement
## if else

In [52]:
x = int(input('Enter Any number'))
if x == 0:
    print('number equal to Zero')
elif x >0:
    print('number is greater then zero')
else:
    print('Number is less then zero')

Enter Any number-3
Number is less then zero

In [ ]:
x = int(input('Enter number for x'))
y = int(input('Enter number for y'))
if x>y:
    print('x is greater ')
else:
    print('y is greater')

# Range

In [1]:
std_names = ['Zeeshan','aslam','Ahmad']
father_name = ['muhammad khan','jibran']
age = ['23','24','22']
contact_number = ['1234567879','989765432','35646788']
for i in range(2):
    print(f'Hello Mr {std_names} your father_name is {father_name} i have wrote your age {age} and  this is your contact {contact_number} ')

Hello Mr ['Zeeshan', 'aslam', 'Ahmad'] your father_name is ['muhammad khan', 'jibran'] i have wrote your age ['23', '24', '22'] and  this is your ['1234567879', '989765432', '35646788']
Hello Mr ['Zeeshan', 'aslam', 'Ahmad'] your father_name is ['muhammad khan', 'jibran'] i have wrote your age ['23', '24', '22'] and  this is your ['1234567879', '989765432', '35646788']

In [5]:
std_names = ['Zeeshan','aslam','Ahmad']
father_name = ['muhammad khan','jibran']
age = ['23','24','22']
for i in range(2):
    print(f'Hello Mr {std_names[i]} your father_name is {father_name[i]} i have wrote your age {age[i]}  ')

Hello Mr Zeeshan your father_name is muhammad khan i have wrote your age 23
Hello Mr aslam your father_name is jibran i have wrote your age 24

# Loop
## for and While Loop

In [24]:
table = int(input("Enter any number"))
for i in range(1,11):
    if i==6:
        continue
    else:
        print(f"{table}*{i}={table*i}")

Enter any number5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*7=35
5*8=40
5*9=45
5*10=50

# Odd & Even

In [28]:
for i in range(1,21):
    if i%2 ==0:
        print(f'{i} Even Number ')
    else:
        print(f'{i} odd number')

1 odd number
2 Even Number
3 odd number
4 Even Number
5 odd number
6 Even Number
7 odd number
8 Even Number
9 odd number
10 Even Number
11 odd number
12 Even Number
13 odd number
14 Even Number
15 odd number
16 Even Number
17 odd number
18 Even Number
19 odd number
20 Even Number

# While

In [32]:
c = 15
while c <=25:
    print(c)
    c +=1

15
16
17
18
19
20
21
22
23
24
25

In [2]:
def convert(value,amount):
    x =value*amount
    print(f"your amount{amount} is equilant to {x} pkr")

In [6]:
value = float(input("Enter value"))
amount = float(input("Enter amount"))
convert(value,amount)

Enter value42
Enter amount45

NameError: name 'amout' is not defined

In [11]:
def speed_control(speed):
    limit =70
    pt =(speed-limit)//5
    print("panility pointa =",pt)
    if speed>0 and  speed=limit:
    print("Ok")
    if pt>=12:
        print('You are over speed .your driving liecenceis canceled')

SyntaxError: expected ':' (3399919919.py, line 2)

In [19]:
speed(78)

NameError: name 'speed' is not defined

In [21]:
def speed_control(speed):
    limit =70
    pt =(speed-limit)//5
    print("panility pointa =",pt)
    if speed>0 and  speed<=limit:
        print("Ok")
    if pt>=12:
        print("your driving liecenceis canceled")

SyntaxError: invalid syntax (4166953145.py, line 5)

In [22]:
speed(89)

NameError: name 'speed' is not defined

In [24]:
def speed_control(speed):
    limit =70
    pt =(speed-limit)//5
    print("panility pointa =",pt)
    if speed>0 and  speed<=limit:
        print("Ok")
    if pt>=12:
        print("your driving liecenceis canceled")

In [26]:
speed_control(89)

panility pointa = 3

# Dictionary
## simple example

In [24]:
ayan ={'age': 'four' ,'class':1,'nick_name':'ayu'}
print(ayan["class"])

1

print(type(b))

In [36]:
shan ={"age":24,"score":9,"city":"pesh"}
print(shan["score"])
shan_1 =shan['score']
print("great shan you got "+str(shan_1) + " score")

9
great shan you got 9 score

In [39]:
shan['x_position']=0
shan['y_position']=25
print(shan)

{'age': 24, 'score': 9, 'city': 'pesh', 'x_position': 0, 'y_position': 25}

# Empty list dictionary

In [45]:
banana ={}
banana['color']="yellow"
banana['weight']=120
print(banana)

{'color': 'yellow', 'weight': 120}

# Modifying Values in a Dictionary

In [60]:
apple ={'color':"red"}
print("the color of apple is "+apple['color']+".")
apple={'color':"green"}
print('now the color of apple is become '+apple['color']+ ".")

the color of apple is red.
now the color of apple is become green.

In [12]:
robot ={"x_position":0,"y_position":1,"speed":"medium"}
print('Original x_position .'+str(robot["x_position"]))
if robot['speed']=='slow':
    x_increment =1
elif robot['speed']=='medium':
    x_increment =2
else:
    x_increment=3
robot['x_position'] = robot['x_position']+ x_increment
print("new x_position is "+str(robot['x_position']))

Original x_position .0
new x_position is 2

In [17]:
alien = {"x_position":0,"y_position":2,"speed":""}
print("original x_position is "+str(alien["x_position"]))
if alien['speed']=="slow":
    increment =1
elif alien["speed"]=="medium":
    increment =2
else:
    increment =3
alien["x_position"]=alien["x_position"]+ increment
print("new Position of alien is "+str(alien['x_position']))

original x_position is 0
new Position of alien is 3

# Deleting key value from Dictionary

In [25]:
mango ={"testy":"sweet","color":"yellow"}
print("the mango is "+ str(mango['testy'] +" and color is "+str(mango["color"]) ))
del mango['color']
print('the mango is '+str(mango['testy']))
print(mango)

the mango is sweet and color is yellow
the mango is sweet
{'testy': 'sweet'}

# dictionary of simple object

In [1]:
favourit_color ={
    "shan":"purpal",
    "ahmad":"red",
    "Husna":"pink",
}
favourit_color['shan']="orange"
print(favourit_color)

{'shan': 'orange', 'ahmad': 'red', 'Husna': 'pink'}

In [15]:
favourit_language ={
    "Ali":"C++",
    "Shan": 123,
    "Ahmad":"kotlin"
}
print("Shan favourit language is ", int(favourit_language['Shan'] , "."))

TypeError: 'str' object cannot be interpreted as an integer

In [28]:
person ={
    "name":'Muhammad Zeeshan',
    'father name':'khan wali',
    'cnic':'217021234567',
    "roll number":"60",
    "age":'23',
    'city':'Peshawar'
}
print(f"the ninfo of person is "+str(person)+ ".")

the ninfo os person is {'name': 'Muhammad Zeeshan', 'father name': 'khan wali', 'cnic': '217021234567', 'roll number': '60', 'age': '23', 'city': 'Peshawar'}.

In [55]:
glossary ={
    "list":"to store data in list formate ",
    "array":"same like list",
    'loops':"how much data you want to print",
    "funcation":"use def keyword",
    "dictionary":"to store data in list "
}
print(glossary)

{'list': 'to store data in list formate ', 'array': 'same like list', 'loops': 'how much data you want to print', 'funcation': 'use def keyword', 'dictionary': 'to store data in list '}

In [11]:
fav_lang ={
    "jim":"english",
    "husna":"arabic",
    'asma':"chines"
}
for k in fav_lang.keys():
    print(k)

jim
husna
asma

In [14]:
ayan ={
    'kambakht ':"yes very",
    'age':4,
    "fav_fruit":'mango'
}
for k,v in ayan.items():
    print('\nk:'+k)
    print(str(v))

k:kambakht
yes very

k:age
4

k:fav_fruit
mango

In [15]:
fav_language ={
    'shan':"arabic",
    'ahmad':'English',
    'sadeeq':'urdu'
}
for name in sorted(fav_language.keys()):
    print(name.title()+ ", thank your for taking the pool")

Ahmad, thank your for taking the pool
Sadeeq, thank your for taking the pool
Shan, thank your for taking the pool

#  repeated value

In [17]:
fav_language ={
    'shan':"arabic",
    'ahmad':'English',
    'sadeeq':'urdu',
    'Ali':'arabic'
}
for name in set(fav_language.values()):
    print(name.title()+ ", thank your for taking the pool")

Urdu, thank your for taking the pool
English, thank your for taking the pool
Arabic, thank your for taking the pool

In [18]:
rivers ={
    'nail':"egypt",
    'sawat':'russia',
    'kabul':'aghan'
}
print("this are the reivers mention below:")
for name in set(rivers.items()):
    print(name.title+", the ")

this are the reivers mention below:

AttributeError: 'tuple' object has no attribute 'title'

# OOP
## class and Object

In [ ]:
class Std:
    name='Shan'
    f_name = 'khan'
    contact_num = '1234567'
    email = 'abc@gmail.com'

# Data Structures